<!DOCTYPE html>
<html ng-app="SampleApp">
<head>
<title>Template directves</title>
<script src="angular-1.5.8/angular.js"></script>
 <link href="bootstrap.css" rel="stylesheet">
  <link href="bootstrap-theme.css" rel="stylesheet">
  <script>
  var  app = angular.module("SampleApp", []);
  app.controller("SampleAppCtrl", function ($scope) {
$scope.items = [{  name: "item 1", value: "value 1", propety1: "Test val 1"},
{ name: "item 2", value: "value 2", propety1: "Test val 2"},
{ name: "item 3", value: "value 3", propety1: "Test val 3"}];
});
</script>
</head>
<div ng-controller="SampleAppCtrl">
<h3 class="panel-header">List</h3>
<p ng-repeat="item in items">
<span ng-repeat="property in item">{{property}}, </span>
</p>
</div>
  </body>
</html>